h1 {font-family: 'Rock Salt', cursive; 
font-size: 72px; 
color: pink;
padding-left: 100px; 
} 
body{
	background-image: url("sea.JPG"); 
	font-family: 'Patrick Hand SC', cursive;
	color; white; 
	padding-left: 50px; 
}